<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Deployment of
    <%= params[:app_name] %>
  </title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.1/buzz.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="/faye/client.js"></script>
  <script src="/javascript/moment.js" charset="utf-8"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/tachyons.min.css">
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body style="text-align:center;">
  <h1><%= params[:app_name].upcase %></h1>

  <div class="deploymentNotification">
    <h2 id="deploymentNotification" style="display:none;"></h2>
    <p id="deployMessage">
      <!-- will get filled in with deployment message  -->
    </p>
  </div>

  <script type="text/javascript">
    // Sound Stuff
    var sound = new buzz.sound("/sounds/deploy_sound", {
      formats: ["ogg", "mp3"]
    });

    sound.bind('ended', function() {
      $('#deploymentNotification').fadeOut(3000);
      $('#lightningContainer').fadeOut(100);
      $('body').removeClass('night');
    });

    // UI Stuff
    function makeSound(message) {
      sound.play();
      $('#deploymentNotification').html(message);
      $('#deploymentNotification').fadeIn(200);
      $('#lightningContainer').fadeIn(100).delay(100).fadeOut(20).fadeIn(100).delay(60).fadeOut(200).fadeIn(200);
      $('body').addClass('night');
    };

    // Faye Stuff
    var client = new Faye.Client('/faye');

    $(function() {
      var subscription = client.subscribe("/<%= params[:app_name] %>", function(message) {
        makeSound(message);
      });
    })
  </script>

  <div id="lightningContainer" style="display:none;">
    <img id="lightningImage" src="/images/lightning.png" alt="">
  </div>
</body>

</html>
