<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Deployment of
    <%= params[:app_name] %>
  </title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.1/buzz.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="http://localhost:9292/faye/client.js"></script>
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body style="text-align:center;">
  <h1><%= params[:app_name].upcase %></h1>

  <div class="deploymentNotification">
    <h2 id="deploymentNotification" style="display:none;"></h2>
    <p id="deployMessage">
      <!-- will get filled in with deployment message  -->
    </p>
  </div>

  <script type="text/javascript">
    // Sound Stuff
    var sound = new buzz.sound("/sounds/deploy_sound", {
      formats: ["ogg", "mp3"]
    });

    sound.bind('ended', function () {
      $('#deploymentNotification').hide(200);
    });
    // Faye Stuff
    var client = new Faye.Client('http://localhost:9292/faye');

    $(function () {
      var subscription = client.subscribe("/<%= params[:app_name] %>", function(message) {
        sound.play();
        $('#deploymentNotification').html(message);
        $('#deploymentNotification').show(200);
      });
    })
  </script>

</body>

</html>
