body {
  background-image: url("../images/thundergod.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #eee;
  color: red;
  transition: background-color 2.0s ease;
}

body.night {
  background-color: #000;
}

h1 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 6vw;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

h3 {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 23px;
}

p {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

blockquote {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

pre {
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
}

#lightningContainer {
  position: absolute;
  top: 0px;
  width: 100%;
}

#lightningImage {
  width: 100%;
}
