body {
  background-image: url("../images/thundergod.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-color: #ccc;
  transition: background-color 2.0s ease;
}

body.night {
  background-color: #000;
}

.avenir { font-family: 'avenir next', avenir, sans-serif; }

#lightningContainer {
  position: absolute;
  top: 0px;
  width: 100%;
}

#lightningImage {
  width: 100%;
}

#tutorialContainer {
  background-color: #eee;
  border-radius: 5px;
  padding: 0.25em;
}
